#cloud-config
# Set a console password so you can log into Cirros VMs via the Horizon console.
# Generate a sha512-crypt hash: openssl passwd -6 <yourpassword>
# or md5:                        openssl passwd -1 <yourpassword>
password: '<hashed-password>'
chpasswd: { expire: False }
ssh_pwauth: True
